/*
*	Description:	CSS File for WOT-Stats
*	Author:			Johan "DaWoody" Wedfelt
*	Author URL:  	https://github.com/DaWoody
*	Color Scheme:	
*	TODO: Fix a bit fallback colors, gradients etc + converting to EM, % etc.. responsive;
*
*/
@import url(http://fonts.googleapis.com/css?family=Open+Sans&Quando);

html {
	font-size:16px;
}

body {
	font-size:0.625em;
	background: rgba(23, 68, 77 , 1) url('images/stripes-background.png');
	text-shadow:1px 1px 2px rgb(85,47,40);
	color: '#f9c2b7';
	color: rgba(249,194,183,0.8);
	font-family:'Open Sans', sans-serif;
}

a {
	color: rgba(204,110,92,1);
	text-shadow: 1px 1px 2px rgba(23, 68, 77 , 1);
	-webkit-transition: color 0.4s;
	-moz-transition: color 0.4s;
	transition: color 0.4s;
}

a:hover {
	color:rgb(249,184,93);
}

.clear {
	clear:both;
}

#header_section h1{
	font-size:5.415666667em;    /* 65/12 =  5.415666667em */
	font-family: 'Quando', serif;
	text-align:center;
	color:rgba(23, 68, 77 , 1);
}

#header_section h1#header_stats {
	font-size: 2.166667em; /* 26/12 = 2.166667em*/
	color:rgba(86,47,41, 0.8);
	line-height:0.8em;
	margin-top:-0.4166667em; /*  5/12 = 0.4166667em*/
}

#wot_stats_version_link {
	text-align: center;
	margin-top:-7px;
	font-size:0.8em;
	color: rgba(204,110,92,1);
	text-shadow: 1px 1px 2px rgba(23, 68, 77 , 1);
	-webkit-transition: color 0.4s;
	-moz-transition: color 0.4s;
	transition: color 0.4s;
}

#wot_stats_version_link:hover {
	cursor:pointer;
	text-decoration:underline;
	color:rgb(249,184,93);
}

#wot_stats_version_info {
	position:absolute;
	margin-top:10px;
	margin-left:25px;
	width:280px;
	padding:5px;
	-moz-border-radius:0.833333em;
	-webkit-border-radius:0.833333em;
	-o-border-radius:0.833333em;
	border-radius:0.833333em;
	color:rgba(86,47,41, 0.8);
	text-shadow:1px 1px 2px white;
	background: rgb(249,184,93);
	border:1px solid rgba(204,110,92,1);
}

.loading {
	background: url('ajax-loader.gif') no-repeat center;
}

.disabled{
	
}

#wrapper {
	width:70%;
	padding:0.83333em;
	margin-left:auto;
	margin-right:auto;
	border:1px solid rgba(204,110,92,1);
	-moz-border-radius:0.833333em;
	-webkit-border-radius:0.833333em;
	-o-border-radius:0.833333em;
	border-radius:0.833333em;
	background:rgba(90,130,138,1) url('images/world-of-tanks-background.png') no-repeat top center;
}

#player_stats_container {
	min-height:4em;
}

#submit_btn {
	border:1px solid rgba(204,110,92,1);
	margin-top:20px; /* 20/12 */
	font-size:1.6em; 
	display:block;
	color:rgb(249,184,93);
	width:280px;
	height:80px;
	min-height: 50px;
	min-width: 100px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	-o-border-radius:10px;
	border-radius:10px;
	box-shadow:inset 0 0 6px rgba(204,110,92,1);
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	transition: all 0.4s;
	background: rgba(23, 68, 77 , 1) url('images/stripes-background.png');
	text-transform: uppercase;
}

#submit_btn:hover {
	cursor:pointer;
	background: rgba(204,110,92,0.3) url('images/stripes-background.png');
	color:white;
}


#search_player_form_section {
	margin-left:auto;
	margin-right:auto;
}

#search_player_form_section input {
	margin-left:auto;
	margin-right:auto;
}

#search_player_form_section input[type=text]{
	font-size:1.5em; /* 24/16 = 1.5em*/
	display:block;
	padding-left:20px;
	width:260px;
	height:70px;
	min-height: 50px;
	min-width: 100px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	-o-border-radius:10px;
	border-radius:10px;
	border:1px solid rgba(204,110,92,1);
	-webkit-transition: background 0.3s;
	-moz-transition: background 0.3s;
	transition: background 0.3s;
}

#search_player_form_section input[type=text]:focus{
	background: #fcffd9;
}

.highlighted {
	border:1px solid red;
}

#player_stats {
	margin-top:3.33333em; /* 40/12 = 3.33333em */
	-moz-border-radius:0.83333em;  /* 10/12 = 0.83333em */
	-webkit-border-radius:0.833333em;
	-o-border-radius:0.833333em;
	border-radius:0.833333em;
	min-height: 2.5em; /* 30/12 = 2.5 em*/
}

#player_total_recent_stats_container{
	margin-top:2em;
}

.recent_total_stats_headline_div {
	height:4em;
	text-align:center;
}

.recent_total_stats_headline_div h1 {
	margin-top:0;
}

.recent_total_stats_headline_div span {
	font-size: 0.7em;
	margin-top:-0.8333em;
}

#total_stats {
	width:48%;
	float:right;
	min-width:200px; /* */
	border-right:1px solid rgba(204,110,92,1); 
}

#recent_stats {
	width:48%;
	float:right;
	min-width:200px;
	margin-left:20px;
}

.clan_image {
	margin-bottom:-0.583333em; /* 7/12 = 0.583333em */
	margin-left:0.4166667em; /*  5/12 = 0.4166667em */
}

.vehicle_image {
	margin-bottom:-0.866667em; /* 10/12 = 0.83333em */
	margin-left:0.4166667em;
}

.on_first_load_css_fix {
	border-bottom:0px solid red !important;
}

#server_version_about_section{

}

#server_about_wrapper{

}

#server_selection{
	float:left;
	background:transparent;
	background:url('') no-repeat right;
	width:12em; /* 40/12 = 3.3333em*/
	height:17px;
}

#server_selection select {
	color: rgba(204,110,92,1);
	border: none !important;
	width:9.5em;
	height:18px;
	text-shadow: 1px 1px 2px rgba(23, 68, 77 , 1);
	background:transparent;
	-webkit-appearance: none;
	-webkit-transition: color 0.4s;
	-moz-transition: color 0.4s;
	transition: color 0.4s;
}

#server_selection select:hover {
	color:rgb(249,184,93);
	text-decoration: underline;
	cursor:pointer;
}




#about {
	margin-top:0.83333em;
}

#about_link {
	float:right;
	width:9em;
	text-align:right;
	margin-top:2px;
}

#about_link {
	color: rgba(204,110,92,1);
	text-shadow: 1px 1px 2px rgba(23, 68, 77 , 1);
	-webkit-transition: color 0.4s;
	-moz-transition: color 0.4s;
	transition: color 0.4s;
}

#about_link:hover {
	cursor:pointer;
	text-decoration:underline;
	color:rgb(249,184,93);
}


/*
*	Add some media-queries for responsive design
*/

@media (max-width:800px){
	#total_stats {
		width:100%;
		border:none;
	}

	#recent_stats {
		width:100%;
		margin-left:0;
		padding-bottom:1.2em;
		border-bottom: 1px solid rgba(204,110,92,1);
	}

}


@media (max-width:510px){
	#header_section h1 {
		/* Do stuff here if you like... */
	}

}

@media (max-width:450px){
	#wrapper{
		width:100%;
	}

}
